---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio" page="home" client:load>       
	<!-- Carousel -->
 	<div id="main-slide" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators visible-lg visible-md">
		  	<li data-target="#main-slide" data-slide-to="0" class="active"></li>
		   <li data-target="#main-slide" data-slide-to="1"></li>
		   <li data-target="#main-slide" data-slide-to="2"></li>
		</ol><!--/ Indicators end-->
		<!-- Carousel inner -->
		<div class="carousel-inner">

			<div class="item active" style="background-image:url(assets/images/slider-main/bg1.jpg)">
				<div class="slider-content text-left">
					<div class="col-md-12">
						<h2 class="slide-title-box animated2">VEGA DIESEL SAC</h2>
						<h3 class="slide-title animated3">Soluciones integrales en grupos electrógenos</h3>
						<h3 class="slide-sub-title animated3">Mantenimiento, Venta y Alquiler Multimarca</h3>
						<p class="animated3">
							<a href="/services#" class="slider btn btn-primary border">Nuestros Servicios</a>
						</p>     
					</div>
				</div>
			</div><!--/ Carousel item 1 end -->

			<div class="item" style="background-image:url(assets/images/slider-main/bg2.jpg)">
				<div class="slider-content">
					<div class="col-md-12 text-center">
						<h2 class="slide-title animated4">Especialistas en Energía</h2>
						<h3 class="slide-sub-title animated5">Mantenimiento Preventivo y Correctivo</h3>
						<p class="slider-description lead animated3">Atendemos emergencias 24/7 para asegurar el óptimo funcionamiento de sus equipos.</p>
						<p>
							<a href="/services#" class="slider btn btn-primary">Nuestros Servicios</a>
							<a href="/contact#" class="slider btn btn-primary border">Contáctanos</a>
						</p>     
					</div>
				</div>
			</div><!--/ Carousel item 2 end -->

			<div class="item" style="background-image:url(assets/images/slider-main/bg3.jpg)">
				<div class="slider-content text-right">
					<div class="col-md-12">
						<h2 class="slide-title animated6">Equipo Técnico Calificado</h2>
						<h3 class="slide-sub-title animated7">Con más de 20 años de experiencia</h3>
						<p class="slider-description lead animated7">Brindamos soluciones integrales en grupos electrógenos y mantenimiento industrial.</p>
						<p>
							<a href="/contact#" class="slider btn btn-primary">Solicita una Cotización</a>
							<a href="/about#" class="slider btn btn-primary border">Conoce Más</a>
						</p>     
					</div>
				</div>
			</div><!--/ Carousel item 3 end -->
			
		</div><!-- Carousel inner end-->

		<!-- Controllers -->
		<a class="left carousel-control" href="/#main-slide" data-slide="prev">
			<span><i class="fa fa-angle-left"></i></span>
		</a>
		<a class="right carousel-control" href="/#main-slide" data-slide="next">
			<span><i class="fa fa-angle-right"></i></span>
		</a>
		</div><!--/ Carousel end --> 


	<section class="call-to-action">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-xs-12">
					<h3 class="call-to-action-title">Nos comprometemos a brindar la mejor calidad de servicio.</h3>
				</div>

				<div class="col-md-2 col-xs-12">
					<div class="call-to-action-btn-angle">
						<a href="/contact-us"><i class="fa fa-paper-plane"></i>Contactanos</a>
					</div>
				</div>
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- Call to action end -->

	<section id="ts-features" class="ts-features">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="intro-feature">
						<h3>Nuestra Visión y Propósito</h3>
						<p>En VEGA DIESEL SAC nos dedicamos a ofrecer soluciones integrales en mantenimiento preventivo y correctivo, así como en la venta y alquiler de grupos electrógenos multimarca, equipos de elevación, motores eléctricos y más. Nuestro objetivo es ser una alternativa confiable y efectiva para el óptimo funcionamiento de sus equipos industriales.</p>
						<p><a class="intro-link" href="/servicios"><i class="fa fa-caret-right"> </i> Más Información</a></p>
						<div class="img-box">
							<div class="img-box-small">Pilares de Excelencia</div>
							<figure><img class="img-responsive" src="assets/images/intro/intro1.jpg" alt="Grupos Electrógenos"></figure>
							<figure><img class="img-responsive" src="assets/images/intro/intro2.jpg" alt="Mantenimiento de Motores"></figure>
							<figure><img class="img-responsive" src="assets/images/intro/intro3.jpg" alt="Instalaciones Eléctricas"></figure>
						</div>
					</div><!-- Intro box end -->
				</div><!-- Col end -->
	
				<div class="col-sm-6">
	
					<div class="featured-tab">
						<ul class="nav nav-tabs">
							<li class="active">
								<a class="animated fadeIn" href="#tab_a" data-toggle="tab">
									<span class="tab-head">
										<span class="tab-text-title">Confianza</span>                    
									</span>
								</a>
							</li>
							<li>
								<a class="animated fadeIn" href="#tab_b" data-toggle="tab">
									<span class="tab-head">
										<span class="tab-text-title">Experiencia</span>                    
									</span>
								</a>
							</li>
							<li>
								<a class="animated fadeIn" href="#tab_c" data-toggle="tab">
									<span class="tab-head">
										<span class="tab-text-title">Seguridad</span>                    
									</span>
								</a>
							</li>
						</ul>
	
						<div class="tab-content">
							<div class="tab-pane active animated fadeInRight" id="tab_a">
								<div class="tab-wrapper">
									<div class="ts-service-box">
										<span class="ts-service-icon"><i class="fa fa-trophy"> </i></span>
										<div class="ts-service-box-content">
											<h3>Soluciones Integrales</h3>
											<p>Ofrecemos mantenimiento preventivo y correctivo de grupos electrógenos, motores eléctricos, y equipos de elevación con el compromiso de maximizar la eficiencia de sus operaciones.</p>
										</div>
									</div><!-- Service 1 end -->
	
									<div class="ts-service-box">
										<span class="ts-service-icon"><i class="fa fa-sliders"> </i></span>
										<div class="ts-service-box-content">
											<h3>Alianzas Estratégicas</h3>
											<p>Trabajamos junto a usted para brindarle soluciones personalizadas, siendo un aliado estratégico en la gestión y mantenimiento de su infraestructura energética.</p>
										</div>
									</div><!-- Service 2 end -->
	
									<div class="ts-service-box">
										<span class="ts-service-icon"><i class="fa fa-thumbs-up"> </i></span>
										<div class="ts-service-box-content">
											<h3>Comprometidos con la Calidad</h3>
											<p>Garantizamos la más alta calidad en todos nuestros servicios, respaldados por personal calificado y herramientas certificadas para el correcto funcionamiento de sus equipos.</p>
										</div>
									</div><!-- Service 3 end -->
	
								</div><!-- Tab wrapper end -->
							</div><!-- Tab pane 1 end -->
	
							<div class="tab-pane animated fadeInRight" id="tab_b">
								<p>Contamos con personal técnico altamente capacitado y especializado en el mantenimiento de centros comerciales y empresas industriales, garantizando la seguridad y confianza en cada proyecto.</p>
	
								<div class="ts-service-box">
									<span class="ts-service-icon"><i class="fa fa-users"> </i></span>
									<div class="ts-service-box-content">
										<h3>Equipo de Profesionales</h3>
										<p>Capacitados y certificados, nuestro equipo asegura que cada tarea se realice de manera eficaz, siguiendo los estándares de seguridad industrial.</p>
									</div>
								</div><!-- Service 1 end -->
	
								<div class="ts-service-box">
									<span class="ts-service-icon"><i class="fa fa-hourglass"> </i></span>
									<div class="ts-service-box-content">
										<h3>Más de 10 años de experiencia</h3>
										<p>Con más de una década de experiencia en el rubro, VEGA DIESEL SAC es su mejor opción para garantizar la durabilidad y rendimiento de sus equipos.</p>
									</div>
								</div><!-- Service 2 end -->
							</div><!-- Tab pane 2 end -->
	
							<div class="tab-pane animated fadeInLeft" id="tab_c">
								<img class="pull-left" src="assets/images/intro/intro2.jpg" alt="Seguridad Industrial" />
								<p>En VEGA DIESEL SAC, la seguridad es una prioridad. Nuestro equipo está capacitado para cumplir con las normativas de seguridad, asegurando tanto el bienestar de su personal como la protección de sus instalaciones.</p>
							</div><!-- Tab pane 3 end -->
						</div><!-- tab content -->
					</div><!-- Featured tab end -->
	
				</div><!-- Col end -->
			</div><!-- Row end -->
		</div><!-- Container end -->
	</section><!-- Section end -->
	

	<section id="facts" class="facts-area bg-overlay no-padding">
		<div class="container">
		  <div class="row">
			<div class="facts-wrapper">
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact1.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">100+</h2>
				  <h3 class="ts-facts-title">Clientes Satisfechos</h3>
				</div>
			  </div><!-- Col end -->
	  
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact2.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">20</h2>
				  <h3 class="ts-facts-title">Años de Experiencia</h3>
				</div>
			  </div><!-- Col end -->
	  
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact3.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">24/7</h2>
				  <h3 class="ts-facts-title">Atención de Emergencias</h3>
				</div>
			  </div><!-- Col end -->
	  
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact4.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">500+</h2>
				  <h3 class="ts-facts-title">Proyectos Realizados</h3>
				</div>
			  </div><!-- Col end -->
	  
			</div> <!-- Facts end -->
		  </div><!--/ Content row end -->
		</div><!--/ Container end -->
	  </section><!-- Facts end -->
	  
	  <section id="ts-service-area" class="ts-service-area">
		<div class="container">
		  <div class="row text-center">
			<h2 class="border-title">Nuestros Servicios</h2>
			<p class="border-sub-title">
			  Soluciones integrales en mantenimiento y venta de equipos industriales.
			</p>
		  </div><!--/ Title row end -->
	  
		  <div class="row">
			<div class="col-md-4">
			  <div class="ts-service-box">
				<div class="ts-service-box-img pull-left">
				  <img src="assets//images/icon-image/service-icon1.png" alt="" />
				</div>
				<div class="ts-service-box-info">
				  <h3 class="service-box-title"><a href="#">Mantenimiento de Grupos Electrógenos</a></h3>
				  <p>Ofrecemos mantenimiento preventivo y correctivo de grupos electrógenos multimarca, tanto Diesel como gasolina.</p>
				</div>
			  </div><!-- Service 1 end -->
	  
			  <div class="ts-service-box">
				<div class="ts-service-box-img pull-left">
				  <img src="assets//images/icon-image/service-icon2.png" alt="" />
				</div>
				<div class="ts-service-box-info">
				  <h3 class="service-box-title"><a href="#">Venta y Alquiler de Equipos</a></h3>
				  <p>Disponemos de equipos de elevación tipo tijera y telescópica, así como grupos electrógenos para venta y alquiler.</p>
				</div>
			  </div><!-- Service 2 end -->
	  
			  <div class="ts-service-box">
				<div class="ts-service-box-img pull-left">
				  <img src="assets//images/icon-image/service-icon3.png" alt="" />
				</div>
				<div class="ts-service-box-info">
				  <h3 class="service-box-title"><a href="#">Rebobinado de Motores Eléctricos</a></h3>
				  <p>Ofrecemos mantenimiento y rebobinado de motores eléctricos monofásicos y trifásicos, garantizando calidad y eficiencia.</p>
				</div>
			  </div><!-- Service 3 end -->
	  
			</div><!-- Col end -->
	  
			<div class="col-md-4 text-center">
			  <img class="service-center-img img-responsive" src="assets//images/services/service-center.png" alt="" />
			</div><!-- Col end -->
	  
			<div class="col-md-4">
			  <div class="ts-service-box">
				<div class="ts-service-box-img pull-left">
				  <img src="assets//images/icon-image/service-icon4.png" alt="" />
				</div>
				<div class="ts-service-box-info">
				  <h3 class="service-box-title"><a href="#">Mantenimiento de Equipos Industriales</a></h3>
				  <p>Nos especializamos en el mantenimiento de compresoras, tractores agrícolas, y motores contra incendio.</p>
				</div>
			  </div><!-- Service 4 end -->
	  
			  <div class="ts-service-box">
				<div class="ts-service-box-img pull-left">
				  <img src="assets//images/icon-image/service-icon5.png" alt="" />
				</div>
				<div class="ts-service-box-info">
				  <h3 class="service-box-title"><a href="#">Fabricación de Casetas para Generadores</a></h3>
				  <p>Diseño e instalación de casetas de fuerza, ductos de aire, y acondicionamiento de generadores.</p>
				</div>
			  </div><!-- Service 5 end -->
	  
			  <div class="ts-service-box">
				<div class="ts-service-box-img pull-left">
				  <img src="assets//images/icon-image/service-icon6.png" alt="" />
				</div>
				<div class="ts-service-box-info">
				  <h3 class="service-box-title"><a href="#">Atención de Emergencias</a></h3>
				  <p>Ofrecemos atención de emergencias 24/7 para reparaciones y mantenimiento de equipos.</p>
				</div>
			  </div><!-- Service 6 end -->
	  
			</div><!-- Col end -->
		  </div><!-- Content row end -->
	  
		</div><!-- Container end -->
	  </section><!-- Service area end -->
	

	  <section id="testimonial-area" class="testimonial-area bg-overlay">
		<div class="container">
			<div class="row text-center">
				<h2 class="border-title">Testimonios</h2>
				<p class="border-sub-title">
					Lo que nuestros clientes opinan sobre nuestro servicio.
				</p>
			</div><!--/ Title row end -->
	
			<div class="row">
				<div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
					<div class="item">
						<div class="quote-item">
							<span class="quote-text">
								"Excelente servicio, rápido y eficaz. Nos han ayudado en momentos críticos con nuestros equipos."
							</span>
	
							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial1.png" alt="Testimonial 1">
								<div class="quote-item-info">
									<h3 class="quote-author">Cliente 1</h3>
									<span class="quote-subtext">CEO, Empresa XYZ</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 1 end -->
	
					<div class="item">
						<div class="quote-item">
							<span class="quote-text">
								"La calidad del trabajo y el compromiso del equipo de VEGA DIESEL SAC es incomparable."
							</span>
	
							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial2.png" alt="Testimonial 2">
								<div class="quote-item-info">
									<h3 class="quote-author">Cliente 2</h3>
									<span class="quote-subtext">Gerente, Empresa ABC</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 2 end -->
	
				</div><!--/ Testimonial slide end -->
			</div><!--/ Row end -->
		</div><!--/ Container end -->
	</section><!-- Testimonial area end -->

	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3 class="border-title border-left">¿Por qué elegirnos?</h3>
	
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Mantenimiento y Servicios Especializados</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<img class="pull-left" src="assets/images/services/service1.jpg" alt="" />
									<p>Ofrecemos mantenimiento preventivo y correctivo de grupos electrógenos, motores eléctricos, equipos de elevación y más, brindando soluciones integrales con un equipo altamente capacitado.</p>
								</div>
							</div>
						</div><!--/ Panel 1 end-->
	
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">Equipo Calificado y Certificado</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="pull-right" src="assets/images/services/service2.jpg" alt="" />
									<p>Contamos con técnicos homologados, entrenados constantemente en seguridad industrial y especializados en el mantenimiento de equipos industriales, garantizando calidad y seguridad.</p>
								</div>
							</div>
						</div><!--/ Panel 2 end-->
	
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">Atención 24/7</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="pull-left" src="assets/images/services/service3.jpg" alt="" />
									<p>Nuestra empresa ofrece servicios de emergencia las 24 horas, los 7 días de la semana, los 365 días del año, asegurando la continuidad operativa de sus equipos bajo un Contrato Anual de Servicio.</p>
								</div>
							</div>
						</div><!--/ Panel 3 end-->
	
					</div><!--/ Accordion end -->
				</div><!-- Col end -->
	
				<div class="col-md-6">
					<h3 class="border-title border-left">Clientes Satisfechos</h3>
	
					<div class="row all-clients">
						<div class="col-sm-4">
							<figure class="clients-logo">
								<a href="#"><img class="img-responsive" src="assets/images/clients/client1.png" alt="Client 1" /></a>
							</figure>
						</div><!-- Client 1 end -->
	
						<div class="col-sm-4">
							<figure class="clients-logo">
								<a href="#"><img class="img-responsive" src="assets/images/clients/client2.png" alt="Client 2" /></a>
							</figure>
						</div><!-- Client 2 end -->
	
						<div class="col-sm-4">
							<figure class="clients-logo">
								<a href="#"><img class="img-responsive" src="assets/images/clients/client3.png" alt="Client 3" /></a>
							</figure>
						</div><!-- Client 3 end -->
	
						<div class="col-sm-4">
							<figure class="clients-logo">
								<a href="#"><img class="img-responsive" src="assets/images/clients/client4.png" alt="Client 4" /></a>
							</figure>
						</div><!-- Client 4 end -->
	
						<div class="col-sm-4">
							<figure class="clients-logo">
								<a href="#"><img class="img-responsive" src="assets/images/clients/client5.png" alt="Client 5" /></a>
							</figure>
						</div><!-- Client 5 end -->
	
						<div class="col-sm-4">
							<figure class="clients-logo">
								<a href="#"><img class="img-responsive" src="assets/images/clients/client6.png" alt="Client 6" /></a>
							</figure>
						</div><!-- Client 6 end -->
					</div><!-- Clients row end -->
	
				</div><!-- Col end -->
	
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- Content end -->	

	<section class="subscribe no-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="subscribe-call-to-acton">
						<h3>¿Podemos Ayudarte?</h3>
						<h4>+51 999 374 434</h4>
					</div>
				</div><!-- Col end -->

				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="ts-newsletter">
						<div class="newsletter-introtext">
							<h4>Envíanos un correo</h4>
							<p>Estamos aquí para ayudarte</p>
						</div>

						<div class="newsletter-form">
							<form action="contact#" method="post">
								<div class="form-group">
									<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Tu Correo Aquí" autocomplete="off">
									<button class="btn btn-primary">Suscribirse</button>
								</div>
							</form>
						</div>
					</div><!-- Newsletter end -->
				</div><!-- Col end -->

			</div><!-- Content row end -->
		</div><!--/ Container end -->
	</section><!--/ News end -->

</Layout>
