---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio" page="services" client:load>
	<div id="banner-area" class="banner-area" style="background-image:url(assets/images/banner/banner4.jpg)">
		<div class="banner-text">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="banner-heading">
							<h1 class="border-title border-left">Servicios</h1>
							<ol class="breadcrumb">
								<li>Inicio</li>
								<li>Servicios</li>
								<li><a href="services.html#">Todos los Servicios</a></li>
							</ol>
						</div>
					</div><!-- Col end -->
				</div><!-- Row end -->
			</div><!-- Container end -->
		</div><!-- Banner text end -->
	</div><!-- Banner area end --> 
	
	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">
	
				<div class="col-md-4">
					<div class="ts-service-box">
						<div class="ts-service-image-wrapper image-angle">
							<img class="img-responsive" src="assets/images/services/service1.jpg" alt="">
						</div>
						<div class="ts-service-box-img pull-left">
							<img src="assets/images/icon-image/service-icon1.png" alt="" />
						</div>
						<div class="ts-service-info">
							<h3 class="service-box-title"><a href="services.html#">Mantenimiento Preventivo y Correctivo</a></h3>
							<p>Ofrecemos servicios integrales de mantenimiento preventivo y correctivo para grupos electrógenos y motores eléctricos, garantizando la eficiencia y durabilidad de su equipo.</p>
							<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Saber Más</a></p>  
						</div>
					</div><!-- Service1 end -->
				</div><!-- Col 1 end -->
	
				<div class="col-md-4">
					<div class="ts-service-box">
						<div class="ts-service-image-wrapper image-angle">
							<img class="img-responsive" src="assets/images/services/service2.jpg" alt="">
						</div>
						<div class="ts-service-box-img pull-left">
							<img src="assets/images/icon-image/service-icon2.png" alt="" />
						</div>
						<div class="ts-service-info">
							<h3 class="service-box-title"><a href="services.html#">Venta y Alquiler de Grupos Electrógenos</a></h3>
							<p>Disponemos de una amplia gama de grupos electrógenos multimarca para venta y alquiler, adaptados a sus necesidades específicas.</p>
							<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Saber Más</a></p>  
						</div>
					</div><!-- Service2 end -->
				</div><!-- Col 2 end -->
	
				<div class="col-md-4">
					<div class="ts-service-box">
						<div class="ts-service-image-wrapper image-angle">
							<img class="img-responsive" src="assets/images/services/service3.jpg" alt="">
						</div>
						<div class="ts-service-box-img pull-left">
							<img src="assets/images/icon-image/service-icon3.png" alt="" />
						</div>
						<div class="ts-service-info">
							<h3 class="service-box-title"><a href="services.html#">Mantenimiento de Equipos de Elevación</a></h3>
							<p>Brindamos mantenimiento especializado a equipos de elevación tipo tijera y telescópica, asegurando su funcionamiento óptimo.</p>
							<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Saber Más</a></p>  
						</div>
					</div><!-- Service3 end -->
				</div><!-- Col 3 end -->
	
				<div class="gap-30"></div>
	
				<div class="col-md-4">
					<div class="ts-service-box">
						<div class="ts-service-image-wrapper image-angle">
							<img class="img-responsive" src="assets/images/services/service4.jpg" alt="">
						</div>
						<div class="ts-service-box-img pull-left">
							<img src="assets/images/icon-image/service-icon4.png" alt="" />
						</div>
						<div class="ts-service-info">
							<h3 class="service-box-title"><a href="services.html#">Instalación y Fabricación de Casetas de Fuerza</a></h3>
							<p>Realizamos la instalación y fabricación de casetas de fuerza para grupos electrógenos, incluyendo ductos de aire, tanques de combustible y acondicionamiento general.</p>
							<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Saber Más</a></p>  
						</div>
					</div><!-- Service4 end -->
				</div><!-- Col 4 end -->
	
				<div class="col-md-4">
					<div class="ts-service-box">
						<div class="ts-service-image-wrapper image-angle">
							<img class="img-responsive" src="assets/images/services/service5.jpg" alt="">
						</div>
						<div class="ts-service-box-img pull-left">
							<img src="assets/images/icon-image/service-icon5.png" alt="" />
						</div>
						<div class="ts-service-info">
							<h3 class="service-box-title"><a href="services.html#">Mantenimiento de Motores Eléctricos</a></h3>
							<p>Ofrecemos servicios de mantenimiento y rebobinado para motores eléctricos monofásicos y trifásicos, asegurando su correcto funcionamiento.</p>
							<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Saber Más</a></p>  
						</div>
					</div><!-- Service5 end -->
				</div><!-- Col 5 end -->
	
				<div class="col-md-4">
					<div class="ts-service-box">
						<div class="ts-service-image-wrapper image-angle">
							<img class="img-responsive" src="assets/images/services/service6.jpg" alt="">
						</div>
						<div class="ts-service-box-img pull-left">
							<img src="assets/images/icon-image/service-icon6.png" alt="" />
						</div>
						<div class="ts-service-info">
							<h3 class="service-box-title"><a href="services.html#">Atención de Emergencias</a></h3>
							<p>Ofrecemos un servicio de atención de emergencias 24/7 para averías y mantenimiento, disponible todo el año para garantizar la continuidad de su operación.</p>
							<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Saber Más</a></p>  
						</div>
					</div><!-- Service6 end -->
				</div><!-- Col 6 end -->
	
			</div><!-- Main row end -->
		</div><!-- Container end -->
	</section><!-- Main container end -->

	<section id="facts" class="facts-area bg-overlay no-padding">
		<div class="container">
		  <div class="row">
			<div class="facts-wrapper">
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact1.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">100+</h2>
				  <h3 class="ts-facts-title">Clientes Satisfechos</h3>
				</div>
			  </div><!-- Col end -->
	  
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact2.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">20</h2>
				  <h3 class="ts-facts-title">Años de Experiencia</h3>
				</div>
			  </div><!-- Col end -->
	  
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact3.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">24/7</h2>
				  <h3 class="ts-facts-title">Atención de Emergencias</h3>
				</div>
			  </div><!-- Col end -->
	  
			  <div class="col-sm-3 ts-facts">
				<div class="ts-facts-img">
				  <img src="assets//images/icon-image/fact4.png" alt="" />
				</div>
				<div class="ts-facts-content">
				  <h2 class="ts-facts-num">500+</h2>
				  <h3 class="ts-facts-title">Proyectos Realizados</h3>
				</div>
			  </div><!-- Col end -->
	  
			</div> <!-- Facts end -->
		  </div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- Facts end -->	


	<section id="testimonial-no-bg" class="testimonial-no-bg">
		<div class="container">
			<div class="row text-center">
				<h2 class="border-title">Palabras de Nuestro Equipo Directivo</h2>
				<p class="border-sub-title">
					Comprometidos con la excelencia en el mantenimiento y suministro de equipos industriales.
				</p>
			</div><!--/ Title row end -->

			<div class="row">
				<div id="testimonial-slide2" class="owl-carousel owl-theme testimonial-slide2">
					<div class="item">
						<div class="quote-item text-center">
							<span class="quote-text">
								"En VEGA DIESEL SAC, nuestra misión es proporcionar soluciones integrales y de alta calidad en el mantenimiento y suministro de grupos electrógenos y equipos industriales. Nos enorgullece ofrecer un servicio excepcional y personalizado para satisfacer las necesidades específicas de cada cliente."
							</span>

							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial1.png" alt="testimonial">
								<div class="quote-item-info">
									<h3 class="quote-author">Enrique Vega Salazar</h3>
                                	<span class="quote-subtext">Gerente de Operaciones, VEGA DIESEL SAC</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 1 end -->

					<div class="item">
						<div class="quote-item">
							<span class="quote-text">
								"En VEGA DIESEL SAC, nos dedicamos a garantizar la operatividad continua de sus equipos, ofreciendo un servicio de mantenimiento preventivo y correctivo que asegura el máximo rendimiento y fiabilidad."
							</span>

							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial2.png" alt="testimonial">
								<div class="quote-item-info">
									<h3 class="quote-author">Rossana Bernahola Bautista</h3>
                                	<span class="quote-subtext">Jefe Comercial y de Proyectos, VEGA DIESEL SAC</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 2 end -->

					<div class="item">
						<div class="quote-item">
							<span class="quote-text">
								"Nuestra experiencia y equipo técnico altamente calificado nos permite ofrecer soluciones efectivas y adaptadas a las necesidades de cada cliente, garantizando la excelencia en cada proyecto que emprendemos."
							</span>

							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial3.png" alt="testimonial">
								<div class="quote-item-info">
									<h3 class="quote-author">Enrique Vega Salazar</h3>
                                	<span class="quote-subtext">Gerente de Operaciones, VEGA DIESEL SAC</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 3 end -->

					<div class="item">
						<div class="quote-item">
							<span class="quote-text">
								"En VEGA DIESEL SAC, estamos comprometidos con la satisfacción de nuestros clientes, ofreciendo atención personalizada y soluciones rápidas para garantizar la continuidad de sus operaciones."
							</span>

							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial4.png" alt="testimonial">
								<div class="quote-item-info">
									<h3 class="quote-author">Rossana Bernahola Bautista</h3>
                                	<span class="quote-subtext">Jefe Comercial y de Proyectos, VEGA DIESEL SAC</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 4 end -->

					<div class="item">
						<div class="quote-item">
							<span class="quote-text">
								"Agradecemos la confianza depositada en VEGA DIESEL SAC y nos comprometemos a seguir ofreciendo un servicio de la más alta calidad para mantener sus equipos siempre en perfectas condiciones."
							</span>

							<div class="quote-item-footer">
								<img class="testimonial-thumb" src="assets/images/clients/testimonial5.png" alt="testimonial">
								<div class="quote-item-info">
									<h3 class="quote-author">Enrique Vega Salazar</h3>
                                	<span class="quote-subtext">Gerente de Operaciones, VEGA DIESEL SAC</span>
								</div>
							</div>
						</div><!-- Quote item end -->
					</div><!--/ Item 5 end -->
				</div><!--/ Testimonial carousel end-->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Testimonial end -->

</Layout>
