---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio" page="services" client:load>
    <div id="banner-area" class="banner-area" style="background-image:url(assets/images/banner/banner4.jpg)">
		<div class="banner-text">
     		<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12">
	        			<div class="banner-heading">
	        				<h1 class="border-title border-left">Services</h1>
	        				<ol class="breadcrumb">
	        					<li>Home</li>
	        					<li>Services</li>
	        					<li><a href="services.html#">Services All</a></li>
	        				</ol>
	        			</div>
	        		</div><!-- Col end -->
	        	</div><!-- Row end -->
       	</div><!-- Container end -->
    	</div><!-- Banner text end -->
	</div><!-- Banner area end --> 

	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper image-angle">
				         <img class="img-responsive" src="assets/images/services/service1.jpg" alt="">
				      </div>
				      <div class="ts-service-box-img pull-left">
			          	<img src="assets/images/icon-image/service-icon1.png" alt="" />
			        	</div>
			        	<div class="ts-service-info">
			          	<h3 class="service-box-title"><a href="services.html#">Pre-Construction</a></h3>
			          	<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
			          	<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Learn More</a></p>  
			       	</div>
				   </div><!-- Service1 end -->
				</div><!-- Col 1 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper image-angle">
				         	<img class="img-responsive" src="assets/images/services/service2.jpg" alt="">
				      </div>
				      <div class="ts-service-box-img pull-left">
			          	<img src="assets/images/icon-image/service-icon2.png" alt="" />
			        	</div>
			        	<div class="ts-service-info">
			          	<h3 class="service-box-title"><a href="services.html#">General Contracting</a></h3>
			          	<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
			          	<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Learn More</a></p>  
			       	</div>
				   </div><!-- Service2 end -->
				</div><!-- Col 2 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper image-angle">
				         	<img class="img-responsive" src="assets/images/services/service3.jpg" alt="">
				      </div>
				      <div class="ts-service-box-img pull-left">
			          	<img src="assets/images/icon-image/service-icon3.png" alt="" />
			        	</div>
			        	<div class="ts-service-info">
			          	<h3 class="service-box-title"><a href="services.html#">Construction Management</a></h3>
			          	<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
			          	<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Learn More</a></p>  
			       	</div>
				   </div><!-- Service3 end -->
				</div><!-- Col 3 end -->

				<div class="gap-30"></div>

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper image-angle">
				         <img class="img-responsive" src="assets/images/services/service4.jpg" alt="">
				      </div>
				      <div class="ts-service-box-img pull-left">
			          	<img src="assets/images/icon-image/service-icon4.png" alt="" />
			        	</div>
			        	<div class="ts-service-info">
			          	<h3 class="service-box-title"><a href="services.html#">Design and Build</a></h3>
			          	<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
			          	<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Learn More</a></p>  
			       	</div>
				   </div><!-- Service4 end -->
				</div><!-- Col 4 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper image-angle">
				         	<img class="img-responsive" src="assets/images/services/service5.jpg" alt="">
				      </div>
				      <div class="ts-service-box-img pull-left">
			          	<img src="assets/images/icon-image/service-icon5.png" alt="" />
			        	</div>
			        	<div class="ts-service-info">
			          	<h3 class="service-box-title"><a href="services.html#">Self-Perform Construction</a></h3>
			          	<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
			          	<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Learn More</a></p>  
			       	</div>
				   </div><!-- Service5 end -->
				</div><!-- Col 5 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper image-angle">
				         	<img class="img-responsive" src="assets/images/services/service6.jpg" alt="">
				      </div>
				      <div class="ts-service-box-img pull-left">
			          	<img src="assets/images/icon-image/service-icon6.png" alt="" />
			        	</div>
			        	<div class="ts-service-info">
			          	<h3 class="service-box-title"><a href="services.html#">Health &amp; Safety Management</a></h3>
			          	<p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
			          	<p><a class="learn-more" href="services.html#"><i class="fa fa-caret-right"></i> Learn More</a></p>  
			       	</div>
				   </div><!-- Service6 end -->
				</div><!-- Col 6 end -->

			</div><!-- Main row end -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->


	<section id="facts" class="facts-area bg-overlay no-padding">
		<div class="container">
			<div class="row">
					<div class="facts-wrapper">
						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="assets/images/icon-image/fact1.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">1789</span></h2>
								<h3 class="ts-facts-title">Project Handover</h3>
							</div>
						</div><!-- Col end -->

						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="assets/images/icon-image/fact2.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">1247</span></h2>
								<h3 class="ts-facts-title">Full-time Salaried</h3>
							</div>
						</div><!-- Col end -->

						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="assets/images/icon-image/fact3.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">5000</span></h2>
								<h3 class="ts-facts-title">Million Revenue</h3>
							</div>
						</div><!-- Col end -->

						<div class="col-sm-3 ts-facts">
							<div class="ts-facts-img">
								<img src="assets/images/icon-image/fact4.png" alt="" />
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">44</span></h2>
								<h3 class="ts-facts-title">Countries Experience</h3>
							</div>
						</div><!-- Col end -->

					</div> <!-- Facts end -->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!-- Facts end -->

	<section id="testimonial-no-bg" class="testimonial-no-bg">
		<div class="container">
			<div class="row text-center">
				<h2 class="border-title">What People Said</h2>
				<p class="border-sub-title">
					Collaboratively administrate empowered markets via plug-and-play networks.
				</p>
			</div><!--/ Title row end -->

			<div class="row">
				<div id="testimonial-slide2" class="owl-carousel owl-theme testimonial-slide2">
				  <div class="item">
				     <div class="quote-item text-center">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip commodo.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="assets/images/clients/testimonial1.png" alt="testimonial">
				         	<div class="quote-item-info">
				         		<h3 class="quote-author">Gabriel Denis</h3>
					         	<span class="quote-subtext">Chairman, OKT</span>
				         	</div>
				         </div>
				     </div><!-- Quote item end -->
				  </div><!--/ Item 1 end -->

				   <div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi aliquip consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="assets/images/clients/testimonial2.png" alt="testimonial">
				         	<div class="quote-item-info">
				         		<h3 class="quote-author">Weldon Cash</h3>
					         	<span class="quote-subtext">CFO, First Choice</span>
				         	</div>
				         </div>
				     </div><!-- Quote item end -->
				  </div><!--/ Item 2 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="assets/images/clients/testimonial3.png" alt="testimonial">
				         	<div class="quote-item-info">
				         		<h3 class="quote-author">Minter Puchan</h3>
					         	<span class="quote-subtext">Director, AKT</span>
				         	</div>
				         </div>
				     </div><!-- Quote item end -->
				  	</div><!--/ Item 3 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="assets/images/clients/testimonial4.png" alt="testimonial">
				         	<div class="quote-item-info">
				         		<h3 class="quote-author">Tian Gray</h3>
					         	<span class="quote-subtext">Accountant</span>
				         	</div>
				         </div>
				     </div><!-- Quote item end -->
				  	</div><!--/ Item 4 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="assets/images/clients/testimonial5.png" alt="testimonial">
				         	<div class="quote-item-info">
				         		<h3 class="quote-author">Jeroge Tinker</h3>
					         	<span class="quote-subtext">Official</span>
				         	</div>
				         </div>
				     </div><!-- Quote item end -->
				  	</div><!--/ Item 5 end -->
				</div><!--/ Testimonial carousel end-->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Testimonial end -->
</Layout>
