<!-- =========================
Banner layout 2
=========================== -->
<section class="banner-layout2 pt-130 pb-130">
    <div class="bg-img">
      <img src="assets/images/home/banners/12.jpg" alt="background">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
          <div class="text-block">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": true, "dots": false}'>
              
              <div class="heading heading-layout2">
                <h2 class="heading__subtitle">PROCESO DE TRABAJO, PASO UNO:</h2>
                <h3 class="heading__title">DISEÑO Y PLANIFICACIÓN</h3>
                <p class="heading__desc">Trabajamos contigo para diseñar un plan que cubra tus necesidades, abarcando desde la venta y alquiler de grupos electrógenos hasta la instalación y mantenimiento de equipos industriales. Seleccionamos cuidadosamente el equipo adecuado para asegurar un rendimiento óptimo en tus instalaciones.</p>
              </div>
  
              <div class="heading heading-layout2">
                <h2 class="heading__subtitle">PROCESO DE TRABAJO, PASO DOS:</h2>
                <h3 class="heading__title">IMPLEMENTACIÓN Y MANTENIMIENTO</h3>
                <p class="heading__desc">Nuestro equipo altamente calificado se encarga de la implementación y el mantenimiento integral de tus sistemas, asegurando que estén en condiciones óptimas de operatividad. Ofrecemos soporte continuo, ya sea de forma presencial o remota, para que no tengas que preocuparte por la continuidad de tus operaciones.</p>
              </div>
              
            </div>
          </div><!-- /.text-block -->
        </div><!-- /.col-xl-7 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.Banner layout 2 -->
  