<!-- =========================== 
    contact layout 3
============================= -->
<section class="contact-layout3 pt-130 pb-0">
    <!-- <div class="bg-img"><img src="assets/images/backgrounds/4.jpg" alt="background"></div> -->
    <div class="container">
        <div class="contact-panel d-block p-0">
        <div class="row row-no-gutter">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="bg-img"><img src="assets/images/home/banners/6.jpg" alt="background"></div>
            <div class="contact-panel__banner d-flex flex-column justify-content-between h-100">
                <div class="testimonials-wrapper testimonials-light mb-50">                

                </div><!-- /.testimonials-wrapper -->
                <div class="clients-wrapper clients-light">
                <strong class="d-block color-white mb-30">Our Trusted Clients</strong>
                <div class="slick-carousel"
                    data-slick='{"slidesToShow": 3, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 3}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/1.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/2.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/3.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/4.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/5.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/6.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/3.png" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                    <a href="home-modern.html#"><img src="assets/images/home/clients/4.png" alt="client"></a>
                    </div><!-- /.client -->
                </div><!-- /.carousel -->
                </div><!-- /.clients-wrapper -->
            </div>
            </div><!-- /.col-xl-6 -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <form class="contact-panel__form" method="post" action="https://7oroof.com/demos/solatec/assets/php/contact.php" id="contactForm"
                novalidate="novalidate">
                <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h4 class="contact-panel__title">Solicitar una cotización</h4>
                </div> <!-- /.col-lg-12 -->
                <div class="col-sm-6">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                        required>
                    </div>
                </div><!-- /.col-sm-6 -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" id="contact-email"
                        name="contact-email" required>
                    </div>
                </div><!-- /.col-sm-6 -->
                <div class="col-sm-6">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                        name="contact-phone">
                    </div>
                </div><!-- /.col-sm-6 -->
                <div class="col-sm-6">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" id="contact-address"
                        name="contact-address" required>
                    </div>
                </div><!-- /.col-sm-6 -->                
                </div><!-- /.row -->
            </form>
            </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
        </div><!-- /.contact-panel -->
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <p class="text__link text-center mt-40 mb-40">Reciba una cotización precisa en un plazo de 3 a 5 días si
                completa el formulario de esta página. O bien, llámenos:
                <a href="home-modern.html#" class="color-heading">
                    (01) 3665566
                </a>
            </p>
        </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact layout 3 -->