---
const services = [
    {
        imgSrc: "assets/images/home/services/1.jpg",
        title: "Grupos Electrógenos",
        desc: "Venta, alquiler y reparación de grupos electrógenos multimarca, tanto diésel como gasolina. Mantenimiento preventivo y correctivo para asegurar su óptimo funcionamiento.",
        link: "services-single-service.html"
    },
    {
        imgSrc: "assets/images/home/services/2.jpg",
        title: "Equipos de Elevación",
        desc: "Mantenimiento y reparación de equipos de elevación tipo tijera y telescópica. Servicios especializados para asegurar la seguridad y funcionalidad de los equipos.",
        link: "services-single-service.html"
    },
    {
        imgSrc: "assets/images/home/services/3.jpg",
        title: "Motores Eléctricos",
        desc: "Mantenimiento y rebobinado de motores eléctricos monofásicos y trifásicos. Servicios para garantizar el rendimiento y la vida útil de los motores.",
        link: "services-single-service.html"
    },
    {
        imgSrc: "assets/images/home/services/4.jpg",
        title: "Tableros de Transferencia",
        desc: "Instalación, cableado y mantenimiento de tableros de transferencia automáticos (TTA). Incluye la instalación de controladores y mantenimiento del pozo a tierra.",
        link: "services-single-service.html"
    },
    {
        imgSrc: "assets/images/home/services/5.jpg",
        title: "Compresoras de Aire",
        desc: "Mantenimiento y reparación de compresoras de aire para asegurar su funcionamiento eficiente y prolongar su vida útil.",
        link: "services-single-service.html"
    },
    {
        imgSrc: "assets/images/home/services/6.jpg",
        title: "Instalaciones y Fabricaciones",
        desc: "Instalación y fabricación de ductos de aire, tanques de combustible y acondicionamiento en general. Servicios personalizados según las necesidades de cada cliente.",
        link: "services-single-service.html"
    }
];
---

<!-- ====================== 
services Layout 2
========================= -->
<section class="services-layout2 pt-120">
    <div class="bg-img"><img src="assets/images/backgrounds/5.jpg" alt="background"></div>
    <div class="container">
        <div class="row mb-70">
        <div class="col-12">
            <h2 class="heading__subtitle color-primary">Nuestro compromiso con la energía para el futuro.</h2>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <h3 class="heading__title color-white">Un proveedor líder de grupos electrógenos para fabricantes, instaladores y contratistas.</h3>
        </div><!-- /col-lg-5 -->
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1">
            <p class="heading__desc font-weight-bold color-gray mb-30">
                En VEGA DIESEL SAC, somos su socio confiable en grupos electrógenos multimarca. 
                Ofrecemos soluciones integrales para asegurar el rendimiento óptimo de sus equipos, incluyendo grupos electrógenos diésel y gasolina, motores eléctricos y equipos de elevación.
            </p>
            <div class="d-flex align-items-center">
            <a href="request-quote.html" class="btn btn__primary btn__primary-style2 mr-30">
                <i class="icon-arrow-right"></i>
                <span>Request A Quote</span>
            </a>
            <a href="services" class="btn btn__white btn__link">
                <i class="icon-arrow-right"></i>
                <span>Explorar todos los servicios</span>
            </a>
            </div>
        </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
        <div class="col-12">
            <div class="slick-carousel carousel-arrows-light"
                data-slick='{"slidesToShow": 4, "slidesToScroll": 4, "arrows": true, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2, "slidesToScroll": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'>
                {services.map((service) => (
                    <div class="service-item">
                        <div class="service__img">
                            <img src={service.imgSrc} alt="service" loading="lazy" />
                        </div>
                        <div class="service__body">
                            <h4 class="service__title">{service.title}</h4>
                            <p class="service__desc">{service.desc}</p>
                            <a href={service.link} class="btn btn__secondary btn__outlined btn__custom">
                                <span>Leer Más</span>
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                ))}
            </div><!-- /.slick-carousel -->
        </div><!-- /.col-12 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <p class="read-note__text">
                <strong class="color-white">
                    Optimizamos el rendimiento de sus equipos con soluciones confiables y eficientes. Encuentre la solución perfecta para sus necesidades energéticas con nosotros.
                </strong>
                <a href="index.html#" class="text-underlined-primary color-primary font-weight-bold">
                    <span>Encuentra tu solución </span> <i class="icon-arrow-right"></i>
                </a>
                </p>
            </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.services Layout 2 -->

<style>
    .service__desc {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Número de líneas visibles */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* Agrega los puntos suspensivos */
        line-height: 1.5em; /* Altura de línea, ajusta según tu diseño */
        max-height: 4.5em; /* Altura máxima para 3 líneas, ajusta según tu diseño */
    }
</style>