---
const sliders = [
    {
        img: "assets/images/home/sliders/3.jpg",
        slide__subtitle: "Complete Commercial, Residential & Industrial Solar Systems",
        slide__title: "Fostering Growth of Solar Energy!",
        slide__desc: "As a worldwide distributor of solar supplies, we endeavor to provide fast and knowledgeable service. We can get you materials by sea or air.",
    },
    {
        img: "assets/images/home/sliders/4.jpg",
        slide__subtitle: "Complete Commercial, Residential & Industrial Solar Systems",
        slide__title: "Fostering Growth of Solar Energy!",
        slide__desc: "As a worldwide distributor of solar supplies, we endeavor to provide fast and knowledgeable service. We can get you materials by sea or air.",
    },
    {
        img: "assets/images/home/sliders/3.jpg",
        slide__subtitle: "Complete Commercial, Residential & Industrial Solar Systems",
        slide__title: "Fostering Growth of Solar Energy!",
        slide__desc: "As a worldwide distributor of solar supplies, we endeavor to provide fast and knowledgeable service. We can get you materials by sea or air.",
    },
    {
        img: "assets/images/home/sliders/4.jpg",
        slide__subtitle: "Complete Commercial, Residential & Industrial Solar Systems",
        slide__title: "Fostering Growth of Solar Energy!",
        slide__desc: "As a worldwide distributor of solar supplies, we endeavor to provide fast and knowledgeable service. We can get you materials by sea or air.",
    },
    {
        img: "assets/images/home/sliders/3.jpg",
        slide__subtitle: "Complete Commercial, Residential & Industrial Solar Systems",
        slide__title: "Fostering Growth of Solar Energy!",
        slide__desc: "As a worldwide distributor of solar supplies, we endeavor to provide fast and knowledgeable service. We can get you materials by sea or air.",
    },
    {
        img: "assets/images/home/sliders/4.jpg",
        slide__subtitle: "Complete Commercial, Residential & Industrial Solar Systems",
        slide__title: "Fostering Growth of Solar Energy!",
        slide__desc: "As a worldwide distributor of solar supplies, we endeavor to provide fast and knowledgeable service. We can get you materials by sea or air.",
    },
];
---

<!-- ============================
    Slider
============================== -->
<section class="slider">
    <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700, "fade": true, "cssEase": "linear"}'>

        {sliders.map((slider) => (
            <div class="slide-item align-v-h bg-overlay bg-overlay-2">
                <div class="bg-img">
                    <img src={slider.img} alt="slide img" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                            <div class="slide__body">
                                <span class="slide__subtitle">{slider.slide__subtitle}</span>
                                <h2 class="slide__title">{slider.slide__title}</h2>
                                <p class="slide__desc">{slider.slide__desc}</p>
                                <div class="d-flex align-items-center">
                                    <a href="services.html" class="btn btn__white mr-30">
                                        <i class="icon-arrow-right"></i><span>More About Us</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ))}
        
    </div>
</section>
