<footer id="footer" class="footer bg-overlay">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="action-box">
            <span class="action-box-icon">
              <i class="fa fa-map-marker"></i>
            </span>
            <div class="action-box-content">
              <h3>Dónde Estamos</h3>
              <p class="action-box-text">
                APV. Sol de Santa Anita Mz. Q Lote 10, Lima, Santa Anita
              </p>
              <p class="action-box-text">
                Sec. 6 CAL. Las Magnolias #286, Loreto - Iquitos, Maynas
              </p>
              <p>
                <a href="/contact-us"
                  ><i class="fa fa-caret-right"> </i> Más Información</a>
              </p>
            </div>
          </div><!-- Action box 1 end -->
        </div><!-- Col end -->

        <div class="col-md-4">
          <div class="action-box">
            <span class="action-box-icon">
              <i class="fa fa-wrench"></i>
            </span>
            <div class="action-box-content">
              <h3>Servicios</h3>
              <p class="action-box-text">Ofrecemos mantenimiento y reparación de grupos electrógenos, equipos de elevación y motores eléctricos, entre otros servicios.</p>
              <p><a href="/services"><i class="fa fa-caret-right"> </i> Aprende Más</a></p>
            </div>
          </div><!-- Action box 2 end -->
        </div><!-- Col end -->

        <div class="col-md-4">
          <div class="action-box">
            <span class="action-box-icon">
              <i class="fa fa-phone"></i>
            </span>
            <div class="action-box-content">
              <h3>Contáctanos</h3>
              <p class="action-box-text">
                Envíanos un correo: 
                <a href="mailto:servicios@vegadieselsac.com">servicios@vegadieselsac.com</a>
                <a href="mailto:ventas@vegadieselsac.com">ventas@vegadieselsac.com</a>
                <br /> Llámanos: 997017008 / 013665566
              </p>
              <p>
                <a href="/contact-us"
                  ><i class="fa fa-caret-right"> </i> Más Información</a>
              </p>
            </div>
          </div><!-- Action box 3 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
    </div><!--/ Container end -->
  </div><!-- Footer top end -->

  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 footer-widget footer-about">
          <h3 class="widget-title">Sobre Nosotros</h3>
          <img
            class="footer-logo"
            src="assets/images/footer-logo.png"
            alt="Vega Diesel SAC"
          />
          <p>
            En VEGA DIESEL SAC, nos especializamos en ofrecer soluciones
            integrales en mantenimiento, venta y alquiler de grupos
            electrógenos, así como en servicios de mantenimiento para equipos
            industriales y agrícolas.
          </p>
          <div class="footer-social">
            <ul>
              <li>
                <a href="https://www.facebook.com/VegaDieselSac"
                  ><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/vega-diesel-sac"
                  ><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div><!-- Footer social end -->
        </div><!-- Col end -->

        <div class="col-md-3 col-sm-12 footer-widget">
          <h3 class="widget-title">Horario de Atención</h3>
          <div class="working-hours">
            Estamos disponibles para atender sus emergencias las 24 horas del
            día, los 7 días de la semana, durante todo el año.
            <br /><br /> Lunes - Viernes: <span class="text-right"
              >24 Horas</span
            >
            <br /> Sábado y Domingo: <span class="text-right">24 Horas</span>
          </div>
        </div><!-- Col end -->

        <div class="col-md-3 col-sm-12 footer-widget">
          <h3 class="widget-title">Servicios</h3>
          <ul class="list-arrow">
            <li>
              <a href="/services#generators"
                >Venta y Alquiler de Grupos Electrógenos</a>
            </li>
            <li>
              <a href="/services#elevation"
                >Mantenimiento de Equipos de Elevación</a>
            </li>
            <li>
              <a href="/services#motors"
                >Rebobinado y Mantenimiento de Motores Eléctricos</a>
            </li>
            <li>
              <a href="/services#industrial-electricity"
                >Electricidad Industrial</a>
            </li>
            <li><a href="/services#emergency">Atención de Emergencias</a></li>
          </ul>
        </div><!-- Col end -->

        <div class="col-md-3 col-sm-12 footer-widget">
          <h3 class="widget-title">Clientes Destacados</h3>
          <ul class="list-arrow">
            <li>ALBAMAR GRUPO INMOBILIARIO</li>
            <li>ARANWA HOTELES</li>
            <li>ATAHUALPA HOLDINGS PERU SAC</li>
            <li>COLEGIO VILLA MARIA</li>
            <li>PEPSICO</li>
          </ul>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Footer main end -->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="copyright-info">
            <span
              >Copyright © {new Date().getFullYear()} VEGA DIESEL SAC. Todos los
              derechos reservados.</span
            >
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="footer-menu">
            <ul class="nav unstyled">
              <li><a href="/privacy-policy">Política de Privacidad</a></li>
              <li><a href="/about-us">Sobre Nosotros</a></li>
              <li><a href="/contact-us">Contáctanos</a></li>
              <li><a href="/services">Servicios</a></li>
            </ul>
          </div>
        </div>
      </div><!-- Row end -->

      <div
        id="back-to-top"
        data-spy="affix"
        data-offset-top="10"
        class="back-to-top affix"
      >
        <button class="btn btn-primary" title="Volver Arriba">
          <i class="fa fa-angle-double-up"></i>
        </button>
      </div>
    </div><!-- Container end -->
  </div><!-- Copyright end -->
</footer><!-- Footer end -->
