<footer id="footer" class="footer bg-overlay">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="action-box">
            <span class="action-box-icon">
              <i class="fa fa-map-marker"></i>
            </span>
            <div class="action-box-content">
              <h3>Dónde Estamos</h3>
              <p class="action-box-text">Urb. Sol de Santa Anita Mz. Q Lote 10, Las Azáleas-SANTA ANITA</p>
              <p><a href="/contact-us"><i class="fa fa-caret-right"> </i> Más Información</a></p>
            </div>
          </div><!-- Action box 1 end -->
        </div><!-- Col end -->

        <div class="col-md-4">
          <div class="action-box">
            <span class="action-box-icon">
              <i class="fa fa-wrench"></i>
            </span>
            <div class="action-box-content">
              <h3>Subcontratistas</h3>
              <p class="action-box-text">Califícate hoy y trabaja con nosotros a nivel mundial</p>
              <p><a href="./construction.html#"><i class="fa fa-caret-right"> </i> Aprende Más</a></p>
            </div>
          </div><!-- Action box 2 end -->
        </div><!-- Col end -->

        <div class="col-md-4">
          <div class="action-box">
            <span class="action-box-icon">
              <i class="fa fa-comments"></i>
            </span>
            <div class="action-box-content">
              <h3>Contáctanos</h3>
              <p class="action-box-text">Envíanos un correo: <a href="https://demo.themewinter.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7e171018113e1d110c1017151b501d1113">[email&#160;protected]</a> <br /> Llámanos: +253-480-8973</p>
              <p><a href="./construction.html#"><i class="fa fa-caret-right"> </i> Aprende Más</a></p>
            </div>
          </div><!-- Action box 3 end -->
        </div><!-- Col end -->

      </div><!-- Content row end -->
    </div><!--/ Container end -->
  </div><!-- Footer top end -->

  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 footer-widget footer-about">
          <h3 class="widget-title">Sobre Nosotros</h3>
          <img class="footer-logo" src="assets//images/footer-logo.png" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua.</p>
          <div class="footer-social">
            <ul>
              <li><a href="./construction.html#"><i class="fa fa-rss"></i></a></li>
              <li><a href="./construction.html#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="./construction.html#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="./construction.html#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="./construction.html#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div><!-- Footer social end -->
        </div><!-- Col end -->

        <div class="col-md-3 col-sm-12 footer-widget">
          <h3 class="widget-title">Horario de Trabajo</h3>
          <div class="working-hours">
            Trabajamos 7 días a la semana, todos los días, excepto los días festivos. Contáctanos si tienes una emergencia, con nuestra línea directa y formulario de contacto.
            <br><br> Lunes - Viernes: <span class="text-right">10:00 - 16:00 </span>
            <br> Sábado: <span class="text-right">12:00 - 15:00</span> 
            <br> Domingo y festivos: <span class="text-right">09:00 - 12:00</span>
          </div>
        </div><!-- Col end -->

        <div class="col-md-3 col-sm-12 footer-widget">
          <h3 class="widget-title">Servicios</h3>
          <ul class="list-arrow">
            <li><a href="./construction.html#">Pre-Construcción</a></li>
            <li><a href="./construction.html#">Contratación General</a></li>
            <li><a href="./construction.html#">Gestión de la Construcción</a></li>
            <li><a href="./construction.html#">Diseño y Construcción</a></li>
            <li><a href="./construction.html#">Construcción Autogestionada</a></li>
          </ul>
        </div><!-- Col end -->

        <div class="col-md-3 col-sm-12 footer-widget">
          <h3 class="widget-title">Instagram</h3>
          <div class="instagram-widget">
            <a href="./construction.html#"><img class="img-responsive" src="assets//images/gallery/gallery1.jpg" alt="" /></a>
            <a href="./construction.html#"><img class="img-responsive" src="assets//images/gallery/gallery2.jpg" alt="" /></a>
            <a href="./construction.html#"><img class="img-responsive" src="assets//images/gallery/gallery3.jpg" alt="" /></a>
            <a href="./construction.html#"><img class="img-responsive" src="assets//images/gallery/gallery4.jpg" alt="" /></a>
            <a href="./construction.html#"><img class="img-responsive" src="assets//images/gallery/gallery5.jpg" alt="" /></a>
            <a href="./construction.html#"><img class="img-responsive" src="assets//images/gallery/gallery6.jpg" alt="" /></a>
          </div>
        </div><!-- Col end -->

      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Footer main end -->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="copyright-info">
            <span>Copyright © {new Date().getFullYear()} Cornike. Todos los derechos reservados.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="footer-menu">
            <ul class="nav unstyled">
              <li><a href="./construction.html#">Inversores</a></li>
              <li><a href="./construction.html#">Política de Privacidad</a></li>
              <li><a href="./construction.html#">Eventos</a></li>
              <li><a href="./construction.html#">Casos de Estudio</a></li>
              <li><a href="./construction.html#">Videos</a></li>
            </ul>
          </div>
        </div>
      </div><!-- Row end -->

      <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
        <button class="btn btn-primary" title="Volver Arriba">
          <i class="fa fa-angle-double-up"></i>
        </button>
      </div>

    </div><!-- Container end -->
  </div><!-- Copyright end -->

</footer><!-- Footer end -->
