---
interface Props {
	page: string;
}

const { page } = Astro.props;

const links = [
    {id: "home", text: "Inicio", link: "/"},
    {id: "about-us", text: "Sobre Nostros", link: "/about-us"},
    {id: "services", text: "Servicios", link: "/services"},
    {id: "gallery", text: "Galeria", link: "/gallery"},
    {id: "contact-us", text: "Contáctanos", link: "/contact-us"},
]

const getActivePage = (current_page: string) : string => {
    const isActive = current_page === page;
    const linkClass = isActive ? "dropdown active" : "dropdown";      
    return linkClass
}

---
<!-- Header start -->
<header id="header" class="header">
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<div class="logo">
				<a href="/">
					<img src="assets/images/logo/logo.png" alt="">
				</a>
			</div><!-- logo end -->
			</div><!-- Navbar header end -->

			<div class="site-nav-inner">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">

					<ul class="nav navbar-nav">

						{links.map((element) => (
								<li class={getActivePage(element.id)}>
									<a id={element.id} href={element.link}>
										{element.text}
									</a>								
								</li>
							)
						)}

						<li class="nav-search">
							<span id="search"><i class="fa fa-search"></i></span>
						</li>

						<li class="header-get-a-quote">
							<a class="btn btn-primary" href="/contact-us">Solicitar Cotización</a>
						</li>

					</ul><!--/ Nav ul end -->

				</nav><!--/ Collapse end -->

				<div class="search" style="display: none;">
					<input type="text" class="form-control" placeholder="Type what you want and enter">
					<span class="search-close">&times;</span>
				</div><!-- Site search end -->

			</div><!-- Site nav inner end -->

		</div><!-- Row end -->
	</div><!-- Container end -->
</header><!--/ Header end -->